@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"), url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Futura PT", "Tahoma", sans-serif;
  background-color: #F9F8F8;
  ;
}

.container {
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*////GENERAL Styles//////*/

.work-info {
  margin-left: auto;
  padding-top: 14px;
  padding-bottom: 10px;
  background-color: #F9F8F8;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.work-info-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.adress::before {
  width: 14px;
  height: 13px;
  background-image: url(../img/home-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 9px;
  display: inline-block;
  content: "";
}

.adress {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 105px;
}

.addres-link {
  text-decoration: none;
  color: #000000;
}

}

.phones::before {
  width: 13px;
  height: 13px;
  background-image: url(../img/phone-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 9px;
  display: inline-block;
  content: "";
}

.phones {
  margin-right: 98px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tel-link {
  text-decoration: none;
  color: #000000;
}

.phones span {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.phones span::before {
  width: 4px;
  height: 4px;
  background-image: url(../img/ellipse.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-left: 9px;
  margin-right: 9px;
  display: inline-block;
  content: "";
}

.phones .phone-first::before {
  display: none;
}

.work-times {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.weekday {
  font-weight: 600;
}

.work-times::before {
  width: 14px;
  height: 14px;
  background-image: url(../img/schedule-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 9px;
  display: inline-block;
  content: "";
}

.mn-wd {
  margin-right: 17px;
}

/* /////////Navbar//////////// */

.navbar {
  background-color: #fff;
}

.site-nav, .nav-list, .nav-wrapper {
  display: flex;
  align-items: center;
}

.site-nav {
  height: 61px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 165px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 19px 27px;
}

.nav-link:hover {
  background-color: #FFBD54;
}

.nav-link:active {
  opacity: 0.5;
}

.nav-wrapper {
  margin-left: auto;
}

.ask-question-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 22px 28px;
}

.ask-question-link::before {
  width: 23px;
  height: 21px;
  background-image: url(../img/paw.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 9px;
  display: inline-block;
  content: "";
}

.ask-question-link:hover {
  background-color: #333;
  color: #fff;
}

.ask-question-link:active {
  opacity: 0.5;
}

/*INTRO*/

.intro {
  background-color: #F9F8F8;
  background-image: url(../img/bg-paws.png), url(../img/animals-with-paw.png), url(../img/rio-eith-paw.png);
  background-repeat: no-repeat;
  background-position: center center, center left, bottom right;
  background-size: cover, 50%, 14%;
  background-image: ;
}

.hero-txt {
  padding-top: 130px;
  padding-bottom: 240px;
  width: 610px;
  margin-left: auto;
}

.hero-heading {
  font-size: 70px;
  line-height: 64px;
}

.hero-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.button-link {
  display: inline-block;
  margin-top: 40px;
  padding: 15px 50px;
  background-color: #333333;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}

.button-link:hover {
  background-color: #FFBD54;
}

.button-link:active {
  opacity: 0.5;
}

/*blockquote*/

.blockquote-section {
  margin-top: 95px;
  text-align: center;
}

.blockqoute {
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
  width: 750px;
  margin-right: auto;
  margin-left: auto;
}

.blockqoute::before {
  width: 70px;
  height: 55px;
  transform: translate(-30px, -30px);
  background-image: url(../img/quote.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 9px;
  display: inline-block;
  content: "";
  display: inline-block;
  content: "";
}

.blockqoute::after {
  width: 70px;
  height: 55px;
  transform: translate(50px, 50px) rotate(180deg);
  background-image: url(../img/quote.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 9px;
  display: inline-block;
  content: "";
  display: inline-block;
  content: "";
}

.divider {
  border: 1px solid #DBDBDB;
  background: none;
  width: 140px;
  margin-top: 35px;
}

.block-author {
  margin-top: 35px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  font-style: normal;
  text-align: center;
}

.slider-services {
  text-align: center;
  margin-top: 190px;
}

.slider-heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 20px;
  color: #333333;
}

.services-list {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: nowrap;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.service {
  width: 193px;
  background: #FFFFFF;
  border-radius: 5px 5px 0px 0px;
  margin: 13px;
  display: flex;
  flex-direction: column;
  padding: 30px 35px;
  position: relative;
}

.service:hover {
  color: #FFBD54;
}

.service:active {
  opacity: 0.5;
}

/*ITeMS*/

.service-name {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin: 0; 
}

.services-list .active-slide {
  box-shadow: 0px 77px 0px 0px #fff;
}

.initial-inspection::before {
  width: 54px;
  height: 77px;
  background-image: url(../img/doctor-man.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 22px;
  display: inline-block;
  content: "";
}

.initial-inspection-girl::before {
  width: 62px;
  height: 77px;
  background-image: url(../img/woman-doctor-with-dog.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 22px;
  display: inline-block;
  content: "";
}

.surgical-intervention::before {
  width: 72px;
  height: 77px;
  background-image: url(../img/brown-dog.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 22px;
  display: inline-block;
  content: "";
}

.dermatology::before {
  width: 76px;
  height: 76px;
  background-image: url(../img/dog-over-derm-option.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 22px;
  display: inline-block;
  content: "";
}

.laboratory-diagnostics::before {
  width: 78px;
  height: 78px;
  background-image: url(../img/diognostical-tool.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 22px;
  display: inline-block;
  content: "";
}

.ophthalmology::before {
  width: 76px;
  height: 76px;
  background-image: url(../img/dog-over-plus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 22px;
  display: inline-block;
  content: "";
}

.service-selector {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}